@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Charmonman&display=swap');

.App {
  font-family: 'Alegreya Sans', sans-serif;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #EED12D;
  border: 4px groove #C49069;
}

.title-bar {
  margin: 1em;
  padding: 1em;
}

.title-bar h1,
.home-wrapper h2,
.card-title h1{
  font-family: 'Charmonman', cursive;
  font-size: 3rem;
}

.card-img-overlay a{
  font-family: 'Charmonman', cursive;
  color: white;
  font-size: 2rem;
}

.card-img-overlay a:hover{
  text-decoration: none;
  color: black;
}


.nav-links {
  margin: 1em;
  padding: 1em;
}

.nav-links a {
  padding: .5em;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C49069;
}

.home-wrapper form {
  border: 4px groove #1F6911;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 40%;
  background-image: url(./Assets/cuttingboard.png);
  background-size: cover;
}

.home-wrapper form .form-group{
  width: 50%;
}

.home-wrapper form button {
  background-color: #1F6911;
  font-size: 1.1em;
  padding: .3em;
}

.home-wrapper form label {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  font-size: 1.1em;
}


.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C49069;
  border-top: 3px groove #C49069;
}
