nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #EED12D;
  border: 4px groove #C49069;
}

.title-bar {
  margin: 1em;
  padding: 1em;
}

.nav-links {
  margin: 1em;
  padding: 1em;
}

.nav-links a {
  padding: .5em;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C49069;
}
.home-wrapper form {
  border: 4px groove #1F6911;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 40%;
}

.home-wrapper form .form-group{
  width: 50%;
}

.home-wrapper form label {
  display: flex;
  flex-direction: column;
  width: 300px;
}


.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #C49069;
  border-top: 3px groove #C49069;
}
